{% macro domTree(ch, co, ids) %}
  {% for id in ids %}
    {% if ch[id].outer.tag.name %}<{{ ch[id].outer.tag.name }} {{ ch[id].outer.tag.attributes }}>{% endif %}
    {% if ch[id].children %}
      {{ _self.domTree(ch, co, ch[id].children) }}
    {% else %}
      {{ co[id] }}
    {% endif %}
    {% if ch[id].outer.tag.name %}</{{ ch[id].outer.tag.name }}>{% endif %}
  {% endfor %}
{% endmacro %}

{% import _self as macros %}
{{ macros.domTree(children, content, roots) }}
